<!doctype html>
<html>
  <head>
    <title>Maartens Babbelbox</title>
  </head>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <body>
    <div id="app">
    <h1 style="font-size: 2em">Maartens Babbelbox</h1>
    <template v-if="loggedOn">
     <div id="userDiv" style="float:right">
       <p style="text-decoration: underline">online:</p>
       <ul style="list-style-type: none; margin: 0; padding: 0;">
         <li v-for="u in users">{{u}}</li>
       </ul>
     </div>
     <div id="messagesDiv" style="height: calc(100vh - 9em); overflow-y:auto;">
       <ul style="list-style-type: none; margin: 0; padding: 0;">
         <li v-for="m in messages">{{m}}</li>
       </ul>
     </div>
     <input style="width: calc(100vw - 12em)" v-model="myMessage">
     <button style="width: 6em" v-on:click="send">Send</button>
     </template>
     <template v-else>
       <div v-if="rejected">Username is already taken!</div>
       <label>Username: </label>
       <form>
         <input v-model="username">
         <button v-on:click="logon">Join!</button>
       </form>
     </template>
    </div>
  <script>
    var socket = io();
    new Vue({
      el: '#app',
      data: 
       { username  : ''
       , messages  : []
       , myMessage : ''
       , users     : []
       , loggedOn  : false
       , rejected  : false
       },
      methods:
       { logon : function () {
           socket.emit('join', this.username);
           this.loggedOn = true;
         }
       , send : function () {
            socket.emit('chat message', this.myMessage);
	    this.myMessage = '';   
          }
       },
      created: function() {
        console.log("there we go....");
        socket.on('chat message', function(msg) { this.messages.push(msg); }.bind(this));
        socket.on('users', function(newUsers) { this.users = newUsers; }.bind(this));
        socket.on('reject', function(u) { console.log("REJECTED"); this.loggedOn = false; this.rejected = true; }.bind(this));
      },
      updated: function() {
        if (this.loggedOn) {
          messagesDiv.scrollTop = messagesDiv.scrollHeight;
        }
      }
    });
  </script>
  </body>
</html>
